DATABASE_URL=postgres://postgres:postgres@localhost:5432/al_furqan
PAYLOAD_SECRET=YOUR_SECRET_HERE
RESEND_API_KEY=re_xxxxxxxx
EMAIL_FROM=noreply@alfurqan.institute
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
